/* ============================== 公共 ============================== */
img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
}
body {
  font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.container_text {
  text-align: center;
}
.container_text h3 {
  font-size: 26px;
  font-weight: bold;
  line-height: 34px;
  color: #595656;
  position: relative;
  padding-bottom: 18px;
}
.container_text small {
  font-size: 18px;
  line-height: 24px;
  color: #595656;
  margin-top: 10px;
  font-family: "AR";
  display: inline-block;
}
.container_text h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 58px;
  height: 2px;
  background-color: #ea5404;
}
.container_text h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  margin: auto;
  width: 152px;
  height: 1px;
  background-color: #ddd;
}
/* ======================== main 开始 ======================== */
/* ========== 图片 ========== */
.inner_banner {
  z-index: -1;
  font-family: "AR";
}
.inner_banner .inner_banner_title {
  width: 100%;
  top: 35%;
}
.inner_banner .inner_banner_title h3 {
  line-height: 46px;
  font-weight: normal;
}
.inner_banner .inner_banner_title h4 {
  line-height: 46px;
}
/* 列表 */
.Brand_ul {
  width: 100%;
  height: 80px;
  line-height: 80px;
  top: 591px;
}
.Brand_ul ul {
  width: 100%;
  top: 8px;
}
.Brand_ul li {
  cursor: pointer;
  width: calc(100% / 5);
  background-color: rgba(234, 84, 4, 0.9);
  border-right: 1px solid #fff;
  box-sizing: border-box;
}
.Brand_ul li a {
  color: #fff;
  display: block;
}
.Brand_ul li.active a {
  color: #ea5404;
  background: #fff;
}
/* ================================== 人才发展 ================================== */
.development p {
  color: #595656;
}
.development .development_list li {
  width: 200px;
  border: solid 1px #999;
  padding: 36px 0;
}
.development .development_list li p::after {
  content: "";
  display: block;
  margin: 22px auto;
  width: 72px;
  height: 2px;
  background-color: #eb7333;
}
/* 选人用人 */
.development .development_employment {
  background: url(../images/join/join3_bg.jpg) center / cover no-repeat;
}
.development .development_employment ul li {
  margin-left: -26px;
  display: inline-block;
  width: 188px;
  height: 188px;
  background-color: rgba(234, 84, 4, 0.8);
  border: solid 1px #eee;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
.development .development_employment ul li div {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.development .development_employment ul li span:nth-child(1) {
  width: 110px;
  letter-spacing: 2.4px;
}
/* 社会招聘 */
.Social ul li h5 {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #595656;
  border: solid 1px #d6d6d6;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.Social ul li h5 span {
  width: 26px;
  height: 26px;
}
.Social ul li h5 span .img1 {
  top: 50%;
  right: 0;
}
.Social ul li h5 span .img2 {
  top: 50%;
  right: 0;
}
.Social ul li h5.active {
  background-color: #595656;
  color: #f8f8f8;
}
.Social ul li h5 span .img1 {
  display: none;
}
.Social ul li h5 span .img2 {
  display: block;
}
.Social ul li h5.active span .img1 {
  display: block;
}

.Social ul li h5.active span .img2 {
  display: none;
}
.Social .Social_container {
  width: 100%;
  background: #f0f1f5;
}
.Social .Social_container span {
  color: #595656;
}
.Social .Social_container P {
  font-size: 14px;
  line-height: 24px;
  color: #595656;
}
/* 校园招聘 */
.Campus .school {
  color: #595656;
}
.Campus .school a {
  color: #ea5404;
}
.Campus .Campus_img .Campus_txt {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Campus .Campus_img .Campus_txt p {
  line-height: 28px;
}
.Campus .Campus_img .Campus_txt p span {
  font-weight: normal;
  color: #ea5404;
}
